#new-product {
  margin: auto;
  padding: 50px;
}

#new-product h2 {
  text-align: center;
  font-size: 32px;
}

#new-product .form-container {
  width: 40%;
  margin: auto;
}

#new-product form {
  width: 70%;
  background-color: #eee;
  padding: 30px 100px 70px 50px;
  padding-right: 100px;
  padding-bottom: 70px;
  margin: 40px auto;
  border-radius: 5px;
}

#new-product form input,
#new-product form textarea {
  width: 100%;
  font-size: 17px;
  padding: 10px 25px;
  background-color: #f5f5f5;
  border: 2px solid #999;
  color: #333;
  border-radius: 5px;
  margin: 10px auto 25px;
}

#new-product form input[name='price'] {
  width: 80px;
  margin-right: 50px;
}

#new-product form textarea {
  height: 120px;
  max-height: 250px;
  min-height: 50px;
  max-width: 100%;
  min-width: 100%;
}

#new-product form .color-pickers {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

#new-product form .color-pickers input[type='color'] {
  height: 30px;
  width: 30px;
  padding: 0;
  margin: 5px 5px;
  border: none;
  background-color: transparent;
}

#new-product form .color-pickers input[type='button'] {
  font-size: 18px;
  width: 33px;
  height: 33px;
  text-align: center;
  display: block;
  margin: 4px 5px 0 5px;
  padding: 0;
  background-color: transparent;
  border: 2px solid #999;
  border-radius: 5px;
  color: #333;
}

#new-product form button[type='submit'] {
  background-color: rgb(0, 121, 202);
  position: relative;
  top: 35px;
  left: 30px;
  opacity: 0.9;
  font-size: 17px;
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  font-weight: bold;
  color: rgb(255, 255, 255);
  border: none;
  display: block;
  transition: all 0.2s;
}

#new-product form button[type='submit']:hover {
  cursor: pointer;
  padding: 15px 25px;
  opacity: 1;
}
