#filters {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#filters .gender {
  border: 3px solid #555;
  padding: 10px;
  cursor: pointer;
  text-transform: uppercase;
  width: 90px;
  text-align: center;
  transition: all 0.2s;
}

#filters .gender:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: none;
  border-right: 3px solid #333;
}

#filters .gender:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: none;
}
