.full-robe-card {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin: 20px;
  border: 3px solid #666;
  border-radius: 3px;
  width: 900px;
  margin: auto;
  text-decoration: none;
  color: #444;
  font-size: 17px;
  transition: all 0.2s;
}

.full-robe-card .left-side {
  text-align: center;
}

.full-robe-card .right-side {
  width: 90%;
  padding: 0 20px;
}

.full-robe-card .right-side > * {
  margin-top: 35px;
}

.full-robe-card img {
  display: block;
  max-height: 300px;
  min-height: 300px;
  min-width: 300px;
  width: auto;
  height: auto;
  border-bottom: 3px solid #999;
  border-right: 3px solid #999;
}

.full-robe-card .robe-colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
}

.full-robe-card .gender-label {
  margin-bottom: 15px;
}

.full-robe-card .robe-title {
  margin-bottom: 30px;
}

.full-robe-card .robe-sizes {
  margin-bottom: 100px;
}

.full-robe-card button {
  background-color: transparent;
  color: #333;
  font-size: 18px;
  position: absolute;
  bottom: 25px;
  right: 250px;
  border: 2px solid #555;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 3px 3px 7px #888;
  transition: all 0.2s;
}

.full-robe-card button:hover {
  box-shadow: 3px 3px 16px #666;
}

@media only screen and (max-width: 1100px) {
  .full-robe-card {
    width: 590px;
  }

  .full-robe-card button {
    right: 100px;
  }
}

@media only screen and (max-width: 680px) {
  .full-robe-card {
    width: 75vw;
    flex-direction: column;
    text-align: center;
  }
  
  .full-robe-card .robe-title {
    margin-bottom: 10px;
    margin-top: 15px;
  }
  
  .full-robe-card .robe-sizes {
    margin-bottom: 45px;
    margin-top: 10px;
  }

  .full-robe-card .robe-price {
    margin-top: 25px;
  }

  .full-robe-card .gender-label {
    margin-bottom: 0;
  }

  .full-robe-card img {
    border-right: none;
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
  }

  .full-robe-card .robe-description {
    display: none;
  }

  .full-robe-card .robe-sizes {
    display: none;
  }

  .full-robe-card .right-side button {
    left: 50%;
    top: 10px;
    transform: translate(-50%, 0);
    position: relative;
    display: block;
    margin-top: 0px;
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 420px) {
  .full-robe-card {
    width: 85vw;
  }

  .full-robe-card img {
    max-width: 85vw;
  }
}
