.robe-card {
  position: relative;
  display: block;
  margin: 20px;
  border: 5px solid #666;
  border-radius: 3px;
  width: 300px;
  text-decoration: none;
  color: #333;
  text-align: center;
  font-size: 17px;
  transition: all 0.2s;
}

.robe-card:hover {
  border-color: #555;
  box-shadow: 7px 7px 29px 0px #888;
}

.robe-card:hover img {
  border-bottom-color: #666;
}

.robe-card img {
  display: block;
  max-width: 300px;
  min-width: 300px;
  min-height: 100px;
  width: auto;
  height: auto;
  border-bottom: 3px solid #999;
  transition: all 0.2s;
}

.robe-card .robe-colors {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  margin: auto;
  justify-content: center;
}

.robe-card .robe-colors > * {
  margin-bottom: 5px;
}

.robe-card .admin-controls {
  position: absolute;
  top: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.robe-card .admin-controls .controls-left {
  left: 5px;
}

.robe-card .admin-controls .controls-right {
  right: 5px;
}

.robe-card .admin-controls > * > * {
  padding: 5px;
  opacity: 0.7;
  transition: all 0.2s;
  background-color: none;
  background: none;
  border: none;
  cursor: pointer;
}

.robe-card .admin-controls > * > *:hover {
  opacity: 1;
}

.robe-card .remove-from-cart-btn,
.robe-card .remove-from-featured-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 5px;
  opacity: 0.5;
  transition: all 0.2s;
  background-color: none;
  background: none;
  border: none;
  cursor: pointer;
}

.robe-card .remove-from-cart-btn:hover,
.robe-card .remove-from-featured-btn:hover {
  opacity: 1;
}

.robe-card .add-to-cart-btn {
  color: #222;
  font-size: 17px;
  border: 2px solid #666;
  border-radius: 5px;
  padding: 5px 8px;
  background-color: none;
  background: none;
  margin-bottom: 15px;
  cursor: pointer;
  transition: all 0.2s;
}

.robe-card .add-to-cart-btn:hover {
  border-color: #333;
  box-shadow: 3px 3px 13px #888;
}

.robe-card .order-details {
  margin-bottom: 15px;
}

.robe-card .order-details > * {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 8px;
}

.robe-card .bold {
  font-weight: bold;
  color: #444;
}

@media only screen and (max-width: 700px) {
  .robe-card {
    box-shadow: 7px 7px 29px 0px #888;
  }
}
