.success-container {
  text-align: center;
  margin-top: 30px;
}

.success {
  background-color: rgba(167, 230, 255, 0.4);
  color: #00305c;
  padding: 20px 40px;
  border-radius: 5px;
  font-size: 15px;
  margin: auto;
  text-align: center;
  display: inline-block;
}